@model UploadVideoViewModel
@{
    ViewData["Title"] = "_UploadVideo";
}

<div id="upload-video-form">
    <form id="upload-files" method="post" enctype="multipart/form-data">
        <div class="video-preview" align="center">
            <img src="~/images/defaulVideoImg.png" />
        </div>

        <label id="upload" class="btn btn-default">Upload Video</label>
        <input id="file" style="visibility:hidden;" type="file" name="Video">
        <hr />
        <div class="form-group col-8">
            <input class="form-control col-6" type="text" name="Title" placeholder="Title of video" />
            <br />
            <textarea class="form-control" name="Description" placeholder="Description"></textarea>
        </div>
        <br />
        <div class="tag-section">
            <i>Tags:</i>
            <input id="tag-field" class="form-control" type="text" placeholder="#Tag" />

            <ul id="tags" class="tags"></ul>
        </div>

        <button class="btn btn-info" type="submit" value="Upload">Upload</button>
    </form>
</div>
