@model UploadVideoViewModel
@{
    ViewData["Title"] = "_UploadVideo";
}

<div id="upload-video-form">
    <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
        <div class="video-preview" align="center">
            <img src="~/images/defaulVideoImg.png" />
        </div>

        <label id="upload" class="btn btn-default">Upload Video</label>
        <input asp-for="Video" id="file" style="visibility:hidden;" type="file" name="video">
        <button class="btn btn-info" type="submit" value="Upload">Upload</button>
        <hr />

        <div class="form-group col-8">
            <input asp-for="Title" class="form-control col-6" type="text" name="title" placeholder="Title of video" />
            <br />
            <textarea asp-for="Description" class="form-control" name="description" placeholder="Description"></textarea>
            <br />
        </div>
    </form>

    <div class="tag-section">
        <i>Tags:</i>
        <input id="tag-field" class="form-control" type="text" name="categories" placeholder="#Tag" />
        <button id="tag-button" class="glyphicon glyphicon-plus"></button>

        <ul id="tags" class="tags"></ul>
    </div>
</div>
