@model IReadOnlyCollection<VideoViewModel>

@{
    ViewData["Title"] = "Manage Videos";
}

<div class="videos-container">
    @foreach (var video in Model)
    {
        string videoUrl = "/" + video.Url;
        string videoId = "video-" + video.Id;

        <div id=@videoId class="video">
            <h3>@video.Title</h3>
            <h5><i>@video.Description</i></h5>
            <video class="video-player" controls>
                <source src=@videoUrl type="video/mp4">
            </video>
            <div class="video-controls">
                <button id="delete-video" type="button" class="btn btn-danger" data-id="@video.Id">Delete</button>
                <button id="approve-video" type="button" class="btn btn-success" data-id="@video.Id">Approve</button>
            </div>
        </div>
    }
</div>