@model IReadOnlyCollection<BubaTube.Areas.Admin.Models.Video>

@{
    ViewData["Title"] = "Manage Videos";
}

@foreach (var video in Model)
{
    string videoUrl = "https://" + ViewContext.HttpContext.Request.Host.Value + "/" + video.Url;
    <video width="320" height="240" controls>
        <source src=@videoUrl type="video/mp4">
    </video>
    <div>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
    <div>
        <button type="button" class="btn btn-success">Approve</button>
    </div>
}

