@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="submit-form col-6">
    <h2 class="text-center">Log in</h2>
    <h5 class="text-center">Use a local account to log in.</h5>
    <hr />

    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="input-fields">

            <div class="input-field-wrapper">
                <input asp-for="Email" class="input-field" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger error-msg"></span>
            </div>

            <div class="input-field-wrapper">
                <input asp-for="Password" class="input-field" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger error-msg"></span>
            </div>
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>

        <button class="submit-button" type="submit">Log in</button>
    </form>
</div>

<div class="talk-bubble tri-right round btm-left">
    <div class="talktext">
        <p class="text-center">Are you stucked?</p>
        <p>
            <a asp-action="ForgotPassword" class="txtlink text-center">Forgot your password?</a>
        </p>
        <p>
            <a asp-action="Register" class="txtlink text-center" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
        </p>
    </div>
    <img src="~/images/bee2.jpg"/>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
