@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center">Register</h2>
<hr />
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-fields">
        <input asp-for="FirstName" class="input-field" placeholder="First name" />

        <input asp-for="LastName" class="input-field" placeholder="Last name" />

        <input asp-for="Email" class="input-field" placeholder="Email" />

        <input asp-for="Password" class="input-field" type="password" placeholder="Password" />

        <input asp-for="ConfirmPassword" class="input-field" type="password" placeholder="Repeat password" />

        <label id="upload" class="btn btn-default">Upload Image</label>
        <input asp-for="Avatar" id="file" style="visibility:hidden;" type="file" name="avatar">

        <img id="image_upload_preview" src="http://placehold.it/100x100" alt="your image" />

        <button id="register-button" class="register-button" type="submit">Register</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/modal-avatar.js"></script>
}
