/*Bootstrap overrides*/
#logoutForm > ul > li > a {
    padding: 9px;
}
/*Bootstrap overrides*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.upload-avatar {
    width: 100%;
    position: relative;
    height: 100px;
    margin-bottom: 10px;
}

.upload-avatar-btn {
    margin-top: 33px;
}

.upload-avatar-placeholder {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

.submit-form {
    height: 70%;
    border-radius: 25px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 10px 8px #888888;
    background-color: white;
    width: 40%;
}

.line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.input-field-wrapper {
    padding-top: 1%;
}

.error-msg {
    display: block;
    min-height: 20px;
}

.input-field {
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    height: 30px;
}

.input-fields {
    padding-bottom: 5%;
    position: relative;
    margin: 0 auto;
    width: 70%;
}

.input-field:focus {
    outline: none;
}

.submit-button {
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    color: white;
    background-color: rgb(135, 142, 150);
    border: none;
    border-radius: 10px;
}

.register-button:hover {
    background-color: rgb(193, 193, 193);
}

.navbar-inverse {
    background-color: #F6F6F6;
    border-color: #F6F6F6;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
    background-color: #f0f5fb;
}

.navbar-brand {
    color: black !important;
}

/*---------------------------*/
/*profile page - user actions*/
/*---------------------------*/

.nav-user-home a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-user-home a:visited {
    outline: none;
}

.nav-user-home div {
    padding: 10px 15px 10px 15px;
}

.nav-user-home div:hover {
    background-color: #f0f5fb;
}

.tab-swith-container {
    min-width: 20%;
}

.user-home-container {
    display: flex;
    flex-direction: row;
}

.user-action-container,
.nav-user-home {
}

/*----------------------------*/

.user-avatar {
    width: 34px;
    height: 34px;
    object-fit: cover;
}

div#container {
    margin-top: 5%;
}

/*----------------------------*/
/*---upload video container---*/
/*----------------------------*/

.video-preview > img {
    width: 20%;
}

.upload-video-info {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto
}

.upload-video-info .tag-section {
    text-align: left;
}

.upload-video-btn {
    position: relative;
    bottom: 105px;
}

.validation, #name-of-video {
    height: 20px;
}

#file {
    height: 0;
}

/*----------------------------*/
/*--------Tags section--------*/
/*----------------------------*/

.tag-section ul li {
    display: inline-block;
    text-decoration: none;
}

.tag-section > input {
    display: inline-block;
    width: 15%;
}

.close {
    opacity: unset !important;
}

.tags {
    height: 85px;
    overflow-y: scroll;
}

.tags li {
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    margin-left: unset;
    background-color: #f5f5f5;
}

#tag-button {
    background: none;
    border: none;
}

.close-tag {
    margin-left: 5px;
    color: #af2525;
}

/*----------------------------*/
/*-----------Search-----------*/
/*----------------------------*/
.search-container {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
}

.search {
    width: 130px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-right: 2%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 20%;
}

.searchResultsBox {
    background-color: #dbe1e5;
    height: 100px;
    position: absolute;
    z-index: 1;
    right: 14px;
}

/*----------------------------*/

.txtlink {
    color: darkblue;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.txtlink:hover {
    text-decoration: underline;
}

.background-gray {
    background-color: #F6F6F6 !important;
}

.login-element-alignment {
    display: inline-block;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

/*----------------------------*/
/*-------------Bee------------*/
/*----------------------------*/
.mobile-bee-fixer {
    width: 100%;
    height: 100px;
    display: none;
}

@media screen and (max-width: 768px) {
    .submit-form {
        width: 70%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .mobile-bee-fixer {
        display: inline-block;
    }
}

/*Admin Area - TODO move in separate css file */
.user-activity-filter {
    display: flex;
}

.user-activity-filter.activity-filter {
    max-width: 50%;
}

.user-activity-filter.period-filter {
    max-width: 80%;
}

.user-activity-filter.period-filter > * {
    min-width: 24%;
}

.user-activity-filter-text {
    flex-grow: 1;
    margin-right: 5px;
}

.user-activity-filter-text p {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.user-activity-filter-dropdown {
    flex-grow: 3;
    margin-right: 5px;
    position: relative;
}

.dropdown {
    position: absolute;
    width: 100%;
}

.user-activity-filter-dropdown .btn.btn-default.dropdown-toggle,
.dropdown-menu,
.btn.btn-light {
    width: 100%;
}

.user-activity-filter-button {
    flex-grow: 3;
    margin-right: 5px;
}

.user-activity-filter-button .btn.btn-light {
    width: 100%;
}

/*Tab switcher*/
.tab-switcher {
    display: flex;
}

.tab-switcher-vertical {
    display: flex;
    flex-direction: column;
}

.tab-switcher-child {
    flex-grow: 1;
    padding: 1%;
    border: 1px solid #fbd40f;
    border-radius: 25px;
    margin: 1%;
    text-align: center;
    cursor: pointer;
}

.tab-switcher-child:hover {
    background-color: #fce4691a;
}

.manage-users .tab-switcher {
    width: 70%;
    margin-bottom: 4%;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
}

.video {
    margin: 10px;
}