
@{
    ViewData["Title"] = "Profile";
}

@*partial view for the owner of profile*@
<br />

<div class="nav-user-home">
    <ul>
        <li><a id="">Users</a></li>
        <li><a>Favourite Videos</a></li>
        <li><a id="upload-video">Upload Video</a></li>
    </ul>
</div>

<div id="container"></div>
<div id="modal"></div>

@section Scripts {
    <script src="~/js/user-profile-actions.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}