
@{
    ViewData["Title"] = "Profile";
}

@*partial view for the owner of profile*@
<br />

<ul>
    <li> Users</li>
    <li>Favourite Videos</li>
    <li><a asp-controller="Upload" asp-action="UploadVideo">Upload Video</a></li>
</ul>
