
@{
    ViewData["Title"] = "Profile";
}

@*partial view for the owner of profile*@
<br />

<div class="user-home-container">
    <div class="nav-user-home">
        <div><a tabindex="0" id="">Users</a></div>
        <div><a tabindex="0">Favourite Videos</a></div>
        <div><a tabindex="0" id="upload-video">Upload Video</a></div>
    </div>

    <div id="user-action-container" class="user-action-container"></div>
</div>

@section Scripts {
    <script src="~/js/user-profile-actions.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}