<div class="user-activity-filter activity-filter">
    <div class="user-activity-filter-text">
        <p> No activity for more than... </p>
    </div>

    <div class="user-activity-filter-dropdown">
        <div id="user-activity-filter-dropdown" class="dropdown ">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="filter-text">Period</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="drop-down-element" data-months="1">
                    <a href="#">1 month</a>
                </li>
                <li class="drop-down-element" data-months="2">
                    <a href="#">2 months</a>
                </li>
                <li class="drop-down-element" data-months="3">
                    <a href="#">3 months</a>
                </li>
                <li class="drop-down-element" data-months="4">
                    <a href="#">4 months</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="user-activity-filter-button">
        <button id="user-activity-filter-button" class="btn btn-light">Filter</button>
    </div>
</div>

<div id="user-activity-filter-result"></div>
