
<div class="user-activity-filter period-filter">
    <div class="user-activity-filter-text">
        <p> No activity for period... </p>
    </div>

    <div class="user-activity-filter-dropdown">
        <div id="from-dropdown-container" class="dropdown ">
            <button id="period-filter-from-btn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="filter-text">From</span>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" id="period-filter-from-dropdown">
                @*/* ¯\_(ツ)_/¯ */*@
                @for (int i = 0; i < 10; i++)
                {
                    var date = DateTime.Now.AddMonths(i * -1);
                    <li class="drop-down-element" data-date=@date.ToString("dd-MM-yyyy")>
                        <a href="#">@date.ToShortDateString()</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="user-activity-filter-dropdown">
        <div id="to-dropdown-container" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="filter-text">To</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="period-filter-to-dropdown">
                @*/* ¯\_(ツ)_/¯ */*@
                @for (int i = 0; i < 10; i++)
                {
                    var date = DateTime.Now.AddMonths(i * -1);
                    <li class="drop-down-element" data-date=@date.ToString("dd-MM-yyyy")>
                        <a href="#">@date.ToShortDateString()</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="period-filter-button">
        <button id="user-activity-from-to-filter-button" class="btn btn-light">Filter</button>
    </div>
</div>

<div id="user-activity-filter-result"></div>
