<div class="manage-users">
    <div class="tab-switcher">
        <div id="manage-users-tab-last-activity" class="tab-switcher-child">
            Last Activity
        </div>

        <div id="manage-users-tab-period" class="tab-switcher-child">
            For Period
        </div>
    </div>
</div>

<div id="manage-users-filter-container">
    @await Html.PartialAsync("_FilterByLastActivity.cshtml")
</div>

@section Scripts {
    <script src="~/js/admin-area.js"></script>
}