<div class="manage-users">
    <div class="tab-switcher">
        <div id="manage-users-tab-last-activity" class="tab-switcher-child">
            Last Activity
        </div>

        <div id="manage-users-tab-period" class="tab-switcher-child">
            For Period
        </div>

        <div id="manage-users-tab-for-more-than" class="tab-switcher-child">
            For More Than
        </div>
    </div>
</div>

@await Html.PartialAsync("_FilterByLastActivity.cshtml")

@section Scripts {
    <script src="~/js/admin-area.js"></script>
}