@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <h1>Most Resent Videos</h1>
        <hr />
        <div></div>
    </div>
    <div>
        <h1>Popular Videos</h1>
        <hr />
    </div>
    <div>
        <h1>You may like</h1>
        <hr />
    </div>
</div>