<div class="dropdown">
    <div>No activity for more than...</div>
    <div>
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Period
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">1 month</a></li>
            <li class="disabled"><a href="#">2 months</a></li>
            <li class="active"><a href="#">3 months</a></li>
            <li><a href="#">4 months</a></li>
        </ul>
    </div>
</div>
<button>Search</button>